body{
    background-image: url(res/bg.png);
}
img{
    height: 256;
}
@font-face {
    font-family: 'seven-segment';
    src: url('res/Seven\ Segment.ttf');
}
@font-face {
    font-family: 'frutiger';
    src: url(res/Frutiger.ttf);
}
.blink {
    opacity: 0;
    transition: opacity 0.3s;
}
.menu-item.selected {
    background-image: url(res/selector.png);
    color: white;
}
#selected-text{
    width: 1910;
    text-align: center;
    font-size: 50;
    color: whitesmoke;
    font-family: frutiger;
    position: absolute;
    top: 500;
}
#clock{
    font-family: seven-segment;
    font-size: 169;
    position: absolute;
    top: 140; width: 1910;
    text-align: center;
    color: whitesmoke;
}