@font-face {
    font-family: 'seven-segment';
    src: url('res/fonts/Seven\ Segment.ttf');
}
@font-face {
    font-family: 'Segoe UI';
    src: url('dvd_res/fonts/segoeui.ttf');
}
@font-face {
    font-family: 'frutiger';
    src: url(res/fonts/Frutiger.ttf);
}
@font-face {
    font-family: 'comic sans';
    src: url(res/fonts/comic.ttf);
}
body{
    background-image: url(res/bg.png);
    /*cursor: none;*/
    overflow: clip;
}
/*--------*/
#clock{
    font-family: seven-segment;
    font-size: 169;
    position: absolute;
    top: 100; width: 1910;
    text-align: center;
    color: black;
    transition: top 0.5s ease-out;
    text-shadow: 2px 2px 2px rgb(134, 134, 134);
}

.blink {
    opacity: 0;
    transition: opacity 0.3s;
}
/*--------*/
#cursor{
animation: blink 3s infinite ease-in-out;
-webkit-box-reflect: below 30px linear-gradient(to bottom, rgba(0,0,0,0.0)60%, rgba(0,0,0,0.5));;
transition: height 0.05s;
height: 300px;
align-self: center;
justify-self: center;
place-self: center;
}
@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0.6; }
  100% { opacity: 1; }
}
#cursor.smol{
height: 260px;
-webkit-box-reflect: below 50px linear-gradient(to bottom, rgba(0,0,0,0.0)60%, rgba(0,0,0,0.5));;
transition: height 0.1s;
}
#menu{
    -webkit-box-reflect: below 65px linear-gradient(to bottom, rgba(0,0,0,0.0)70%, rgba(0,0,0,0.5));;
    transition: left 0.3s;
    position: absolute;
    top: 472;
    left: 720;
    width: 1920;
    height: 260;
    align-items: flex-end;
    align-content: flex-end;
}
#menu.opt1{
    left: 832;
}
#menu.opt2{
    left: 583;
}
#menu.opt3{
    left: 334;
}
#menu.opt4{
    left: 83;
}
#menu.opt5{
    left: -171;
}


.menu-item{
    height: 150;
    transition: height 0.3s;
    /*overflow: hidden;*/
    
}
.menu-item.selected {
    /*background-image: url(res/selector.png);*/
    color: white;
    height: 256;
}